[2019-01-18 14:28] mjablecnik opened #2 "Doesn't work Follow button"
**Describe the bug**
Doesn't work Follow button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to profile any user
2. Click on Follow button
3. I don't see any response or works.

**Expected behavior**
I want see somewhere my following users and follow their articles.

**Desktop (please complete the following information):**
 - Browser: Firefox Quantum 63.0.3
 - System: Linux Mint 19

[2019-01-18 14:35] mjablecnik opened #3 "Some link for view or create new issues"
I thing that somewhere on the Able.bio page  should be some button or link for easy find where I can create issue when I find any bug.
And this suggestion-box for issues will be more used..
This able-bio project I was founding a long time here on github.

[2019-01-18 15:04] RhettTrickett commented on #2
Thanks for raising this Martin.

I'll look into why the Follow button isn't working. Should have it resolved before the end of the weekend. Will also think about where might be a good place to manage followers.

Thanks for your feedback! If you have any more ideas, please do share them!

[2019-01-18 15:05] RhettTrickett commented on #3
Good idea Martin, will look into adding something this weekend!

[2019-01-18 15:42] mjablecnik opened #4 "Add button for skill or portfolio"
In my profile I see that I don't have any skill or Portfolio.
It should be nice when I will have some button for add my skills or Portfolio info there.
Instead of text: `Martin has no skills yet.`
I don't know how can add it there now.

![screenshot from 2019-01-18 16-36-00](https://user-images.githubusercontent.com/2686906/51396539-88970900-1b3f-11e9-9cbf-8ebf44576ebf.png)

[2019-01-18 15:52] mjablecnik opened #5 "Article editor is very poor"
When I want add some article https://able.bio/articles/add   I see very blank page:
![screenshot from 2019-01-18 16-44-21](https://user-images.githubusercontent.com/2686906/51397046-a749cf80-1b40-11e9-89ed-a3e4025ffe99.png)

Where is not Any panel for format my text, add picture, tables or links and another things like in
the add project: https://able.bio/project/add

![screenshot from 2019-01-18

[2019-01-18 16:07] mjablecnik opened #6 "Save my interests"
I think that should be very useful when in the profile settings will be some form for save of my interesting technology.
For example:
I am interested in Linux, Python, Java, Kotlin, Cloud technology
And when will have some new Article about it so this article will be displayed  on the https://able.bio/ page where I can find it and read.

But I am not interested in HTML, CSS, Javascript
so I hope t

[2019-01-18 16:08] RhettTrickett commented on #5
When writing articles, if you highlight any of the body text you've written you should be presented with a Medium style formatting bar.

I plan to put a lot of energy into the article composer soon. Just finishing up another major feature on Able that's been taking quite a bit of work to finalise.

[2019-01-18 16:10] RhettTrickett commented on #4
Yes, this should actually be hidden for now. Will address. We're wrapping up work on a major feature for skills where this area will then make more sense.

[2019-01-18 16:14] RhettTrickett commented on #6
100% agree. You specify your interests on sign-up for this exact purpose. I still need to implement the following though:

- Newsfeed algorithm to prioritise articles by interest.
- Interface to manage interests
- Digest email to send weekly / daily email alert of new articles that match interests.

[2019-01-21 10:23] RhettTrickett commented on #3
This has now been added and can be viewied in the right hand column of the Able newsfeed (home screen).

[2019-01-21 10:23] #3 closed, assigned to nobody

[2019-01-25 22:42] RhettTrickett commented on #2
@Applemann This has now been fixed. Apologies for the delay. You can now also see your followers and people you follow in the top left corner of the home page (https://able.bio)

[2019-01-25 22:42] #2 closed, assigned to RhettTrickett

[2019-01-25 23:22] RhettTrickett commented on #6
You can now edit your interests here: https://able.bio/settings/interests

[2019-01-25 23:22] #6 closed, assigned to nobody

[2019-01-25 23:28] RhettTrickett commented on #4
Okay, have now made a few changes here:

1. If you do not have any skills your profile will not show the skills tab. A new skills feature is coming soon which will allow you to earn skills for your profile.
2. If you click on your portfolio tab, you will now see a green button to add a project if you don't have any projects. You can also click the + icon in the top right corner next to your profil

[2019-01-25 23:28] #4 closed, assigned to nobody

[2019-01-25 23:31] RhettTrickett commented on #5
Planning to build a new article composer using https://www.slatejs.org/

Have added this to that milestone.

[2019-07-22 12:44] ZoranPandovski opened #7 "Add header image doesn't work"
**Describe the bug**
500 error is thrown when I try to add a header image to an article.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to add a header image
2. Select image (in my case jpg format)
3. 500 error is thrown

**Desktop (please complete the following information):**
 - Chrome browser

**Additional context**
After a few attemps, the image was uploaded.

[2019-07-29 10:30] RhettTrickett commented on #7
Hey @ZoranPandovski - thanks for raising this!

I reviewed the log for this error and have pushed a patch that should fix the offending code. Have tested and all seems fine now.

Would you mind confirming all is working on your side when you have a moment?

[2019-07-29 11:48] ZoranPandovski commented on #7
I just checked and it works great. Thanks, @RhettTrickett .

[2019-07-29 11:48] #7 closed, assigned to nobody

[2019-08-04 17:07] ZoranPandovski opened #8 "Add more tags"
The tags option per article is limited to few topics. It would be good if more options are available per article (something similar to the GitHub project topics).

[2019-08-04 17:11] ZoranPandovski opened #9 "Delete article throws error"
**Describe the bug**
Delete article option is not working. Server Error 500 is thrown when deleting an article.
Note that the article contains only the Title.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new article
2. Delete it

**Expected behavior**
The article should be deleted.

[2019-08-05 07:23] RhettTrickett commented on #9
Thanks Zoran!

This should be fixed now. Could you test and confirm on your side?

[2019-08-05 07:41] RhettTrickett commented on #8
Agreed. The ability for users to create new article tags was restricted initially to prevent these tags from becoming too messy and unstructured. These topics actually have a nested structure.

- **JavaScript** _(Language)_
-- **React** _(Library)_
-- **Vue** _(Library)_
-- **Angular** _(Library)_
- **Python** _(Language)_
-- **Django** _(Web Framework)_
- **Github** _(Service)_
- **AWS** _(Servic

[2019-08-05 08:19] ZoranPandovski commented on #9
Yes, now it's working. Thanks

[2019-08-05 08:19] #9 closed, assigned to nobody

[2019-08-05 22:31] ZoranPandovski opened #10 "Server error when opening portfolio project"
**Describe the bug**
I have created a test project for my portfolio. When I try to open it server error is thrown.
Link https://able.bio/ZoranPandovski/portfolio

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://able.bio/ZoranPandovski/portfolio
2. Click on  test

[2019-08-06 12:49] RhettTrickett commented on #10
Thanks for reporting! This should be fixed now.

[2019-08-07 09:12] ZoranPandovski opened #11 "There is no such page error"
**Describe the bug**
On creating a new post, there is no such page error is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'New Post'
2. See error 'There is no such page'

**Screenshots**
![Screenshot from 2019-08-07 11-10-03](https://user-images.githubusercontent.com/7192539/62610516-1f70ba80-b904-11e9-8631-8c515dfede3d.png)

[2019-08-07 09:13] ZoranPandovski commented on #10
It's working now. Thanks, @RhettTrickett

[2019-08-07 09:13] #10 closed, assigned to nobody

[2019-08-08 05:45] RhettTrickett commented on #11
@ZoranPandovski where did you see the New Post button? That should be hidden as it's part of the new article editor we are building.

[2019-08-08 08:48] ZoranPandovski commented on #11
It is on the right top, next to the user section.
![Screenshot from 2019-08-08 10-46-55](https://user-images.githubusercontent.com/7192539/62688824-ea2ea000-b9c9-11e9-8925-02a765217387.png)

[2019-08-08 12:10] RhettTrickett commented on #11
Thanks @ZoranPandovski - have patched so that it's no longer visible.

![094](https://user-images.githubusercontent.com/2250831/62702157-e9076e00-b9dd-11e9-87e2-e566a431549d.gif)

[2019-08-08 12:10] #11 closed, assigned to nobody

[2019-08-08 12:11] #8 closed, assigned to nobody

[2019-09-25 18:14] ZoranPandovski opened #12 "Editor: Upload image file picker is missing"
**Describe the bug**
When you try to insert an image, there is no option to select the file with file picker.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create a new article
2. Insert new image
3. There is no file picker option

**Expected behavior**
Users should be able to select local files.

**Screenshots**
![Screenshot from 2019-09-25 20-12-11](https://user-images.githubuserco

[2019-09-25 19:08] RhettTrickett commented on #12
Hey @ZoranPandovski - you can drag and drop images into the editor to upload them. But I'll make a note for us to add the above functionality so that mobile users can upload images too.

[2019-09-25 19:09] RhettTrickett commented on #5
Hey @Applemann - Long time! Just to let you know we've launched the first version of our new editor. Log in and check it out at https://able.bio/new

[2019-09-25 19:09] #5 closed, assigned to RhettTrickett

[2019-09-26 08:47] ZoranPandovski commented on #12
Thanks @RhettTrickett , I didn't notice that :D Yes, for some users it will be confusing without file picker, or you can add a tooltip that explains drag and drop upload.

[2019-10-03 15:37] ZoranPandovski opened #13 "Create table option is missing"
I am not sure how to create a table? Is that still not implemented or I am not able to find that option ?

[2019-10-04 11:47] RhettTrickett commented on #13
Hi @ZoranPandovski - tables can be supported but we just need to configure the UI to allow you to create them. Right now even if you try to do it using markdown syntax the characters get escaped. We'll add support for this pretty soon and update here when it's ready.

[2019-10-06 17:00] zschuessler opened #14 "Increase Readability: Make Article Width Larger; Drop ToC"
**Describe the bug**
When I go to an article page, I get a table of contents that takes up a large portion of the article width. This hurts readability and for casual content, it's not useful.

Here's an example:
https://able.bio/DavidLandup/introduction-to-web-scraping-with-java-jsoup--641yfyl

For readability I would really prefer something like Medium, where:

1. Text content is the focus. No s

[2019-10-07 08:22] RhettTrickett commented on #14
Hey @zschuessler - thanks for mentioning this. I was actually playing with these while fine tuning but eventually left it as it was to see if there was any feedback.

I also think the main text column is a _liiiiittle_ bit thin I'm going to take a look at some options and will bounce them off you later this week. Will also look at toning the TOC down a bit and making it optional (toggle off etc) a

[2019-10-12 13:09] Minenash commented on #12
For now, you can post it to a service like imgur, and put the link in the location spot.

[2019-10-12 15:18] Minenash opened #15 "User website link icon"
I think using the standard web icon, 🌐, would better represent that the icon links to the user's site, than the current link icon, 🔗. Also the icon doesn't appear in the user card underneath articles.

[2019-10-14 09:36] RhettTrickett opened #16 "Explain canonical URLs"
We need a clearer explanation for users about what canonical urls do.

I have written a clearer help page here: https://able.bio/help-canonical-urls

@drenther - could you please update the link in the canonical url dialogue to point to the above page.

[2019-10-14 10:09] RhettTrickett opened #17 "Editor: Include shortcuts in icon tooltips"
@drenther - could we add shortcuts to the editor tooltips please. Here are some examples of how we could format the text for these.

- [ ] H2 (#, Space)
- [ ] H3 (##, Space)
- [ ] Bold (Ctrl or CMD + b)
- [ ] Italic (Ctrl or CMD + i)
- [ ] Inline code (`code`)
- [ ] Code block (```)
- [ ] Link (Ctrl or CMD + K)

Bonus points if we can show Ctrl / CMD based on OS :)

Mentioned by @Minenash

[2019-10-14 10:09] RhettTrickett commented on #16
cc @Minenash

[2019-10-14 10:11] RhettTrickett opened #18 "Editor: Hide disabled icons"
Please can we hide icons on the menubar, instead of greying them out, when disabled.

Mentioned by @Minenash and +1 from me :)

[2019-10-14 10:13] RhettTrickett commented on #12
+1 from @Minenash

[2019-10-14 10:15] RhettTrickett opened #19 "Better comment formatting"
Mentioned by @drenther and @Minenash.

Comments could be better formatted to show line breaks, auto-links and so on.

[2019-10-14 10:15] RhettTrickett commented on #19
Comments now support markdown syntax and auto-linking. All previous comments have been updated so they are not more clearly formatted. Let me know if we need anything else on this one.

[2019-10-14 10:16] RhettTrickett opened #20 "Favicon white background"
Update Able favicon to have a white background so that it is more visible on browsers with dark mode/theme.

Mentioned by @Minenash

[2019-10-14 10:19] RhettTrickett opened #21 "Create article menu option"
Raised by @Minenash.

@Minenash - This was removed because it links to the old article editor which has been deprecated. I'll just clean-up this menu a but by removing the horizontal divider.

When we overhaul the profile page we'll make the dropdown navigation more consistent with the new styling.

[2019-10-14 10:22] RhettTrickett opened #22 "Show sub-titles in My Posts and Editor"
Raised by @Minenash

_It would be really nice if subtitle was also included in these. Also in the editor, it would be nice if the subtitle box was already there, but with (optional) next to the text._

[2019-10-14 10:24] RhettTrickett commented on #22
This was considered as part of the design but went against the minimalist clean nature of the design and was left out to declutter as it serves no purpose in those contexts. If you have a sub-title set on a post it will show by default when editing though so it is only shown by default if being used.

[2019-10-14 10:24] #22 closed, assigned to nobody

[2019-10-14 10:25] RhettTrickett opened #23 "Previous article"
_At one point there was an option to give a previous article. Why was it removed, and can we expect to see it again?_

@Minenash could you clarify what you meant by this? Not sure I understand. Thanks.

[2019-10-14 10:27] RhettTrickett opened #24 "Editor: Better response when clicking Publish"
Raised by @Minenash

_When Publish is hit, almost nothing changes. Recently I saw a “View Post“ button appear, but if you’re editing an already published post, then there is no visible change. Maybe change the text of the button to “Published“ until the text changed, or after a few seconds, if the first isn’t feasible._

@drenther - Any ideas on this one?

[2019-10-14 10:29] RhettTrickett opened #25 "Apostrophe display bug in sub-title"
Raised by @Minenash

_when going back to edit an article with a ‘ in the subtitle, then in the editor it’s replaced with &#39; which then gets placed as the actual subtitle. And every time I hit edit without fixing it, it duplicates._

[2019-10-14 10:30] RhettTrickett opened #26 "Editor: Markdown toggle"
Raised by @Minenash

_These posts are in markdown, but we don’t get a markdown editor mode. As someone who writes in markdown all the time, I personally find it easier to edit that way then to use a button bar._

@drenther - Let's discuss the feasibility of this.

[2019-10-14 10:32] RhettTrickett opened #27 "Flutter tag"
Raised by @Minenash

_Can we get a Flutter tag?_

@drenther - Let's discuss the feasibility and priority of this. I'm not quite clear on what it is.

[2019-10-14 10:33] RhettTrickett commented on #27
Just realised this is probably a topic tag when writing posts. I'll sort this out.

[2019-10-14 10:34] RhettTrickett commented on #15
Will consider this. I'm working on some ideas to show the domain instead so that users can promote their own website / blog domain on Able instead of it being hidden behind an icon.

[2019-10-14 12:47] RhettTrickett commented on #27
This has now been added.

[2019-10-14 12:47] #27 closed, assigned to RhettTrickett

[2019-10-14 13:16] drenther commented on #12
@Minenash @ZoranPandovski You can also directly drag and drop an image on the editor writing space.

Update: I see it was already mentioned. We are working on making these actions more obvious, with tips and shorthand guides.

[2019-10-14 13:17] drenther commented on #12
We are working on making these actions more obvious, with tips and shorthand guides.

[2019-10-14 16:42] Minenash commented on #23
If I remember correctly, it an option along with "add subheading", "add tags", etc, that would point to the previous article in a series.

[2019-10-14 17:02] Minenash commented on #19
One linebreak is ignored, but two works (basically how Reddit does it). Is this intentional?

If I post a comment to an article, the markdown doesn't apply until refresh. Replies to comments work fine though.

If a comment with replies is deleted, it will visually remove the comment, and won't be replaced with the comment removed placeholder until refresh.

If a deleted comment's replies are also

[2019-10-16 09:52] RhettTrickett commented on #19
Fair points. I'll re-open this to sort these out.

[2019-10-19 09:18] RhettTrickett commented on #19
Hi @Minenash,

I've now put some time into fixing some of these.

- [x] According to the markdown spec we use, line breaks require the line to end with two or more spaces. I've added a tooltip that appears with a link to markdown syntax when you click into the comment box.
- [x] New comments will now appear instantly as rendered markdown.
- [ ] Updating a parent comments contents with 'Deleted' te

[2019-10-19 10:08] RhettTrickett commented on #20
@Minenash - this should be fixed now if you do a hard refresh.

[2019-10-19 10:08] #20 closed, assigned to RhettTrickett

[2019-10-19 10:12] RhettTrickett commented on #21
@Minenash, this has now been cleaned up.

[2019-10-19 10:12] #21 closed, assigned to RhettTrickett

[2019-10-20 21:23] Minenash commented on #19
If I comment is deleted, then it's removed and not replaced with a placeholder. However, if their are child comments, then the parent comment won't be removed, but is replaced with a placeholder.

If a deleted comment has child comments, and all child comments are deleted (and removed because they don't have any child comments), then the parent comment (the one that has no more child comments) is

[2019-10-22 21:41] Minenash opened #28 "Ability to keep `Last name` blank"
My online presence is this username, and as I signed up with GitHub, it only took it as my first name. Because I could not keep the last name field empty, I was unable to change my bio. I eventually found a way around this by using an invisable non-space Unicode character, that allowed the form to submit successfully, but wasn't stored in the database.

I guess this is also a bug report for fields

[2019-10-22 21:44] Minenash opened #29 "Have a requirment that only users that has done something to show up in `More Users`"
When I look at someone's profile, I see the `More Users` card. I think this is great for discovery, but out of the 40+ users I have clicked through only 2 has had any activity on them.

[2019-10-23 00:40] Minenash opened #30 "Add dates to articles `My Posts`"

[2019-10-26 08:47] RhettTrickett commented on #12
@ZoranPandovski @Minenash - this has been fixed by an update from @drenther this week.

[2019-10-26 08:47] #12 closed, assigned to drenther

[2019-10-26 08:49] RhettTrickett commented on #16
@ZoranPandovski @Minenash - the **More info** link in the dialogue box that appears when you add / edit a canonical URL now links to the above page with a more helpful explanation about how you might want to use them.

[2019-10-26 08:49] #16 closed, assigned to drenther

[2019-10-26 08:50] RhettTrickett commented on #17
@Minenash - fixed as part of the update from @drenther this week.

[2019-10-26 08:50] #17 closed, assigned to drenther

[2019-10-26 08:51] RhettTrickett commented on #24
@Minenash - fixed as part of the update from @drenther this week.

[2019-10-26 08:51] #24 closed, assigned to drenther

[2019-10-26 08:51] RhettTrickett commented on #18
@Minenash - fixed as part of the update from @drenther this week.

[2019-10-26 08:51] #18 closed, assigned to drenther

[2019-10-26 09:26] RhettTrickett commented on #30
Dates have been added.

[2019-10-26 09:26] #30 closed, assigned to nobody

[2019-10-26 09:28] RhettTrickett commented on #28
We don't actually require a first and last name in the database. It was just some legacy frontend validation that has now been removed. If you don't have a first and or last name it will just display your username instead.

[2019-10-26 09:28] #28 closed, assigned to nobody

[2019-10-28 08:54] RhettTrickett commented on #14
Hi @zschuessler - just an update on this.

I tried out 680px width for posts but it felt a bit stretched to read lines at that width, probably because Medium's font size is 21px so they have less words on a line, while ours is 17px. So I reviewed and experimented with the column widths of various other major publishers.

- Economist: 640px
- The Guardian: 620px
- New York Times: 600px
- BBC: 600px

[2019-10-28 15:46] zschuessler commented on #14
@RhettTrickett I love the approach you took to this, well done. I think you are right, making the sidebar optional will clear up the real estate there and make the 620px look good.

By the way - the sidebar is really cool. For technical content I love it.

Really excited by the project, seeing the team's dedication to stuff like this :). (Closing this but reopen if needed)

[2019-10-28 15:46] #14 closed, assigned to RhettTrickett

[2019-12-04 22:43] Minenash opened #31 "Add a 'Kudos'/'Like' Button"
We have view numbers, but that doesn't really tell us if that's a good post, and while comments can give some view, very few people are going to be writing "that was good read", on every post they liked,

[2019-12-05 12:21] RhettTrickett commented on #31
Yep, agreed. We'll add this soon.

[2019-12-06 22:21] Minenash opened #32 "Ability to have a strictly chronological feed"

[2019-12-07 03:12] Minenash opened #33 "Link based on the title of when it was first saved, not when first published"
**Describe the bug**
When writting a post, the link is based on the title as it was when it was first saved, leading to a situation where the title no longer matches the link

**To Reproduce**
Steps to reproduce the behavior:
1. Write a post with a title.
2. Save post
3. Change title
4. Publish
5. Look at link

**Expected behavior**
I expected either of the following:
* The link would change when

[2019-12-07 03:27] Minenash opened #34 "Show subtitles on feed cards"
They show up on the cards on the post list of someones profile, but not on the main feed.

[2019-12-07 06:23] drenther commented on #26
We have had this in mind from the very beginning of designing the new editor's architecture.

We already support all the markdown shortcuts in the rich text editor we have. It's like getting the markdown editing experience with the visuals of rich text editing. I am a little unclear as to what added benefit a raw markdown editor will provide.

[2019-12-07 06:24] drenther commented on #34
Agreed. @RhettTrickett - Let's discuss about this

[2019-12-07 06:25] drenther commented on #32
Noted. We will look into it soon.

[2019-12-07 06:26] drenther commented on #33
Thanks for the detailed Issue Description. I think I agree with the points made and a lot of other content systems have a similar approach. We will look into what solution works for us in this case.

[2019-12-07 06:27] drenther commented on #29
Noted. We will look into it shortly.

[2019-12-07 08:19] RhettTrickett commented on #33
This has been fixed. The URL will now change if you update the post title. We actually look up the post based on the id at the end of the URL so this way it won't break previous links that have been shared.

[2019-12-07 08:19] #33 closed, assigned to nobody

[2019-12-07 08:22] Minenash commented on #33
Awesome! Could it also be made so, you don't _need_ text to work, so just able.bio/user/95378?

[2019-12-07 08:23] RhettTrickett commented on #34
Yeah, so the whole point of the newsfeed redesign was to make things extremely clean and remove as much noise as possible. We can look at some designs though to see if we can re-introduce without making things too noisy. Let's discuss.

[2019-12-07 08:31] Minenash commented on #34
It definitely would make subtitles useful for people who use their feed, and it would make it more consistent.

For the design, we could add the text in the style of what the profile pages. Also while we're at it we could add the post read time next to the data, and the views next to the comments. It may make add some "noice" I feel like it would improve the expertise by a good about. For example,

[2019-12-07 08:54] RhettTrickett commented on #33
We could look at that but what is the point of it?

[2019-12-07 08:56] Minenash commented on #33
* Shorter Links when needed
* If someone is copying an old link, they don't have to manually update the text (if they want the link to bit make sense)

[2019-12-07 08:58] Minenash opened #35 "Remove "duplicate" tags"
While I understand the nested nature of tags as explained [here](https://github.com/able-bio/suggestion-box/issues/8#issuecomment-518123364), I don't these should count:
* CSS, CSS 2.1, CSS 3
* HTML, HTML 4, HTML5
* ES4, ES5
I don't think there's many people out there that would want one and not the other, and if it's decided that they should remain split, I think the non-versiond one should be re

[2019-12-07 13:47] RhettTrickett commented on #35
Agreed, these are from an earlier experiment. Will start the process of removing them. They’re just attached to a few data objects so need to make sure they are removed safely.

[2019-12-09 07:07] RhettTrickett commented on #35
These have now been removed, with the exception of the non-versioned CSS and HTML.

[2019-12-09 07:07] #35 closed, assigned to nobody

[2019-12-09 08:46] RhettTrickett commented on #34
I've played around with a few options, starting with what you've suggested. It seemed a bit strange to have the read time down in the bottom actions row (this is where Upvotes and other interactive data summaries will be displayed). So I tried adding it to the top row, after the date. However, it seemed like read time might be more helpful than the date (which you only really want to check for ref

[2019-12-09 12:06] Minenash commented on #34
That looks great! The only part missing is the view count next to the comment count

[2019-12-09 12:24] RhettTrickett commented on #34
Okay, cool. Will add views, your article views will only be visible to you though. We want to keep vanity metrics private for now so as not to incentivise users in the wrong way.

[2019-12-09 12:52] Minenash commented on #34
Make sense, will the same thing happen for Kudos/Likes (when they are added)? I see them abused on places like Twitter, but places like fanfiction.net doesn't have problems with it.

[2019-12-09 13:15] RhettTrickett commented on #34
Okay, changes are up. I think we're leaning towards making upvotes public, as most platforms do. Haven't decided yet. It would be good to show something like this so that people can see there is a bit of a community while we're growing otherwise the platform may feel a bit empty relative to the engagement that you'd observe on other platforms. It's still up for discussion though.

[2019-12-09 13:15] #34 closed, assigned to nobody

[2019-12-09 13:34] Minenash commented on #34
I fully agree (and maybe this should be another thread) the only disadvantage to likes but not views, is ratio. Is the low number of votes because not many people saw it, or because it isn't good. One thing we could do (though it wouldn't be as neat), is to add the like per view ratio in parenthesis. `↑ 5 likes (0.82)` It would make views public, but in a way that wouldn't insensitive making posts

[2019-12-09 13:37] Minenash commented on #34
Now that I'm seeing it in action, I think it would look better without the word `read`, but I'm not sure if that would make it too confusing for users

[2019-12-10 01:52] Minenash commented on #34
Some older posts don't have the `X min` on their cards. Is this intentional?

[2019-12-12 04:05] Minenash opened #36 "Editor not exlusively capturing Ctrl+K event"
Right now `Ctrl+K` is the shortcut to add a link; however, in Firefox it's the shortcut to do go to the address bar, add a `?` and do a web search. In editors like GitHub, if you do `Ctrl+K` it will still add the link, but _not_ activate Firefox's thing. However, in Able's editor, both Able's link adder, and Firefox's search thing activate.

[2019-12-12 06:43] Minenash commented on #25
Here's an example I ran into today:
***
![Apostrophe](https://imgur.com/hMGK4IB.png)
***

[2019-12-12 08:22] RhettTrickett commented on #25
Yeah, I saw this and fixed it for you. I'll make some time to tackle this one over the weekend.

[2019-12-12 08:22] RhettTrickett commented on #36
Yep, I also get this. This is one for @drenther.

[2019-12-12 08:23] Minenash commented on #25
When? I fixed it like 10 times (post publish) over the course of re-editing it xD

[2019-12-12 08:28] drenther commented on #36
Will look into it.

[2019-12-12 10:43] RhettTrickett opened #37 "Add language filter support"
Allow people to select which languages they would like to see in their newsfeed and email digest. Post authors should also be able to set the language of their posts in the editor.

[2019-12-19 10:41] RhettTrickett commented on #31
Been working on a prototype, what does everyone think of this?

![2019-12-19 10 39 26](https://user-images.githubusercontent.com/2250831/71167066-e6e6d300-224b-11ea-83b5-6ddb710ea3c9.gif)

cc @drenther @Minenash @chauhankiran

[2019-12-19 14:36] Minenash commented on #31
It looks good, but feels a bit out of place being the only raised item on the page besides the comment box. Personally I think it would be either on the bottom of the article. And if it were to stay in the side, where would it go for mobile users?

[2019-12-19 17:08] RhettTrickett commented on #31
Thanks @Minenash - So we want this action to be easy to find and appealing to perform if readers find the post insightful. Also, if someone is reading a long post and they're enjoying it they should able to upvote it straight away without scrolling to the end.

For mobile, though, I was thinking of putting it at the bottom of the post, as you suggested, or keeping it sticky in the bottom right cor

[2019-12-19 23:44] Minenash commented on #31
Actually there's one problem with the design when there is no upvotes yet: it looks like a back to top button.

[2019-12-20 09:36] RhettTrickett commented on #31
Yes, this is a fair point. Someone else mentioned it too. I've tweaked the button to look more elongated and removed the shadow (which is also common for those buttons) and added an outline to move it closer to the Able style. I've also added a title attribute. Think this looks a bit better. Thoughts?

![2019-12-20 09 35 38](https://user-images.githubusercontent.com/2250831/71245227-2b39a800-230c-

[2019-12-20 14:23] Minenash commented on #31
How would it look with no outline, and it was the arrow and the number that turned a dark green?

[2019-12-22 02:49] Minenash opened #38 "Make level 1 and 2 headers of articles the same style as their editor counterparts"
The style of level 1 and 2 headers differ depending if you're viewing an article or editing it. Personally I like the editor's version more, so I'd rather the viewing style to change to it. If y'all disagree it could be the other way.

[2019-12-22 14:14] RhettTrickett commented on #31
Okay, I've tried that but it was quite difficult to see when an item had been upvoted/given kudos because a dark green colour that passes WCAG 2.1 AA looks very similar to grey or black.

So instead I've removed the outline when not upvoted and filled the background colour with an accessible dark green. I think this makes it all a bit cleaner than the outline. What do you reckon? I've also added i

[2019-12-22 14:36] chauhankiran commented on #31
If in confusion, why not add +1 e.g. + followed by number of likes as text or like button with number of liked?

[2019-12-22 15:41] Minenash commented on #31
I have to after with ^. The `^` icon still looks like a "to the top", so when their would be 0, it might not be obvious.

What about removing the icon, so it's just `Kudos - #`(or replacing it with a 👍). Re-adding the outline in the same style as the follow button, and put it underneath the outline

[2019-12-24 14:08] anson-vandoren commented on #26
I may be missing something here, but the editor I'm using to create posts definitely doesn't support all or even most markdown.

The immediate benefit for me is that my posts are all originally written in markdown for my personal blog, and when cross-posting here it takes quite a bit of time to paste the markdown into the Able editor and then reformat everything.

Some examples:
- Pasting `#` `##`

[2019-12-24 14:15] Minenash commented on #26
I'm also one of those people who is more comfortable with pure markdown. While I do occasionally use Word/Writer, most of my typing is done on Discord, Slack, GitHub,etc. I even use a markdown editor application. WYSIWYG is awesome for most people, but some people just like the feel of pure markdown.

There also isn't a shortcut for every button. (And this should really be it's own bug report:) In

[2019-12-24 14:21] anson-vandoren opened #39 ""Add a link" fails on valid single-letter domain"
**Describe the bug**
The link dialog box does not recognize a valid URL if the domain is a single letter. The dialog works correctly if any random letter is added before or after the "t".

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new post
2. Highlight any text and press Ctrl(Cmd)-K for the link dialog
3. Enter any valid URL that has a single character domain (e.g., [https://x.

[2019-12-24 14:22] drenther commented on #26
I must say that is some great actionable feedback @anson-vandoren @Minenash

We will try solve the issues in the rich text editor and plan on how to support a pure markdown editor toggle.

We are currently occupied with some features that do no involve the editor. But, we intend to resolve all the issues.

To bring some structure may be we can start by listing all the bugs and missing features in

[2019-12-24 20:30] Minenash commented on #23
I think it's safe to close this

[2019-12-29 17:58] drenther commented on #39
Will look into this. Thanks for reporting.

[2019-12-30 06:40] RhettTrickett commented on #32
@Minenash I've added some filters to the top of the newsfeed. Let me know what you think.

[2019-12-30 06:42] RhettTrickett commented on #31
This has been added to the bottom of posts, for now. This is a simple web and mobile version that I wanted to get out sooner. We can fine tune the right side upvote button to be more balanced and subtle. You can also upvote comments now.

[2019-12-30 06:54] Minenash commented on #32
Awesome, It looks great! Though it would be nice to be able to set a default. So `Feed`'s url would change to `https://able.bio/?order=feed` (or `default`), the `Interests` tab could be renamed to `Feed` or `Newsfeed`, and have the default sort option above the interest selection.

[2019-12-30 07:01] Minenash commented on #31
Looks great! Though, moving some of the padding from the top to the bottom of the button would imo make it look more with the article. Also, the click box should be as large as the button when it's filled it. Also, if you try to upvote your own post, it fails. I'm assuming this is intentional, so imo it should either just not show up or have the word `upvote` stricked.

I'm still not sure if I lik

[2020-01-01 07:23] RhettTrickett commented on #32
Okay, I've made a change so that your last selected feed order is remembered. So whenever you load up the newsfeed now it should remember your preference.

Happy New Year btw!

[2020-01-01 08:10] RhettTrickett commented on #31
Okay, have moved the upvote button up a bit closer to the end of article. There needed to be some distance though, so that it would not blend in with the end of the article. For example, it may look like the last `<hr>` above the author profile was part of the article.

Upvote button size is determined by padding, a button with no upvotes will be slightly less wider than one that has upvotes. The

[2020-01-03 14:36] zschuessler opened #40 "Allow Configuring Behavior of ToC"
**Describe the bug**
For a very long article with many headings, the table of contents in the left sidebar gets real wild.

I'd like to be able to configure it so that only the h1 headings are used, since the many h2/h3 headings are cluttering the ToC.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://able.bio/zschuessler/design-challenge-congressional-vote-data--56ojdv7
2. Obser

[2020-01-03 14:41] zschuessler commented on #40
Sorry - I realize my pasting from Medium converted the headings to major headings. This looks much better with adding the small heading + using bold p tags as an h3. I'll close, this works!

[2020-01-03 14:41] #40 closed, assigned to nobody

[2020-01-03 16:42] Minenash commented on #32
Happy New Year to you too!

Out of curiosity is the last loaded stored on the client side or server side?

[2020-01-03 16:42] #32 closed, assigned to nobody

[2020-01-03 16:43] Minenash commented on #23
I think this can safely be closed

[2020-01-03 18:45] RhettTrickett commented on #32
It’s stored server-side against your session.

[2020-01-03 18:47] RhettTrickett commented on #23
I actually want to keep this open as it does feel like we need a link to your posts from the editor. I have an idea that I want to discuss with @drenther about this.

[2020-01-04 04:20] Minenash commented on #31
Not sure if this should be it's own issue, but it'd be cool if your upvotes were displayed under your view counter.
Visual Example:

![](https://imgur.com/9HWkYvp.png)

[2020-01-04 07:07] RhettTrickett commented on #31
Yep, we’re working on this currently!

[2020-01-04 07:17] RhettTrickett commented on #40
Hey Zachary, welcome to Able!

You’ve just reminded me that we still need to add the ability to toggle the ToC on/off. Will get that sorted in the next 2-3 weeks.

[2020-01-05 17:11] Minenash opened #41 "Sorting by topic only works when your feed sort is 'Feed'"
**Describe the bug**
You can filter posts by topic by clicking on the topic on the left side. However this only works when you're sorting your feed by `Feed` instead of `Latest` or `Popular`

**To Reproduce**
Steps to reproduce the behavior:
1. Sort by `Latest`
2. Click on a topic
3. View entries

**Expected behavior**
For only posts that have the topic tags are included regardless of the feed sor

[2020-01-06 10:26] RhettTrickett commented on #41
I’ve pushed a fix, so this should work now. Could you check and confirm that it’s working as expected?

[2020-01-06 22:29] Minenash commented on #41
Yup looks like it works, thanks!

[2020-01-06 22:29] #41 closed, assigned to nobody

[2020-01-06 22:47] Minenash opened #42 "Ability to have the optional post fields (subtitle, tags, etc) on by default"
While, the simplistic interface looks nice, as a person who always uses subtitles and tags, having to manually add them using the mouse instead of just using `TAB` is slightly annoying. I propose a section in the Settings called `Editor` with a sub-section for auto-enabling optional fields
![image](https://user-images.githubusercontent.com/12193049/71854935-a2619100-30ad-11ea-9710-ff713fb056b5.png

[2020-01-07 08:48] RhettTrickett opened #43 "Inline LaTeX support"
@patrickcording is asking about inline LaTeX support, which I think we should look into adding if we can. Currently we only support block elements. Here's an example he's provided for reference:

<img width="687" alt="Screen Shot 2020-01-06 at 10 48 28 PM" src="https://user-images.githubusercontent.com/2250831/71880973-18abd500-313a-11ea-9994-16f104089266.png">

This [Stack Overflow](https://stack

[2020-01-07 10:54] drenther commented on #43
@patrickcording @RhettTrickett I have had some implementations of it already and will soon push it to production.

[2020-01-07 13:11] RhettTrickett commented on #43
Brilliant! Thanks @drenther

[2020-01-08 05:38] RhettTrickett commented on #43
This update has been deployed. You can now use $...$ notation followed by a space to render inline.

@patrickcording - do you want to give this a try and let us know what you think?

@drenther - when you hit space to render, it feels more natural to also have a space inserted after the rendered formula. Not sure if it’s possible to add something like this or if anyone has other opinions?

[2020-01-08 08:27] RhettTrickett commented on #39
This should be fixed now.

[2020-01-08 12:09] patrickcording commented on #43
Just tried it out, works exactly as I would expect. Very cool.

I'm looking forward to start using Able.

[2020-01-08 14:31] #43 closed, assigned to nobody

[2020-01-09 19:46] anson-vandoren commented on #39
Yup! Works fine for me now.
Thanks!

[2020-01-09 19:46] #39 closed, assigned to nobody

[2020-01-11 14:35] RhettTrickett commented on #26
@Minenash @anson-vandoren this is now in live beta, thanks to @drenther. You can find the option to toggle Markdown mode in the editors **Options** menu. Try it out and let us know what you think.

[2020-01-13 02:34] Minenash commented on #26
Sorry for the delay, haven't been on my PC in the last two days.

This is simply great, I only have three suggestions:
1. When in Markdown mode, display `Markdown Mode` where the style buttons would be.
2. Re-add shortcut support. While this may sound counter-intuitive, it's still useful for the simple bold and italics.
3. Add a shortcut that swaps from markdown to visual editor. This would make t

[2020-01-13 02:36] Minenash commented on #43
This is an amazing feature, thanks for adding it! My only problems seem to restrictions from KaTeX itself.

[2020-01-13 02:40] Minenash opened #44 "Support youtube links with timestamps"

[2020-01-13 03:21] anson-vandoren commented on #26
It looks good to me! Only (small) issue I noticed is that Gist links don't seem to show a preview if they're added in Markdown mode. Not a huge deal; switching to Rich Text and pasting in the link again makes everything show up properly.

Thanks! This is a HUGE time-saver when cross-posting from my personal blog, and also the writing style for new posts is a lot more comfortable to me.

[2020-01-13 18:08] drenther commented on #42
Thanks for the suggestion @Minenash

We will be looking into this and some similar approach to handling the default fields displayed on new post editor view.

[2020-01-13 18:10] drenther commented on #42
The visual difference between the checkbox styling may be remnants of our older UX.
@RhettTrickett

[2020-01-13 18:13] drenther commented on #44
We intend to add more advanced / custom embedding experience as we iteratively improve the editor.

Now, that we know the timestamp is something that can be a useful addition. We will prioritize it and try to support it as soon as we can.

Thanks again @Minenash :)

[2020-01-13 18:14] drenther commented on #38
@RhettTrickett and I will look into this

[2020-01-13 18:16] drenther commented on #26
Thanks @anson-vandoren

I will try and fix the issues. Will update here once a fix is deployed.

[2020-01-13 18:19] drenther commented on #26
Thanks @Minenash for the feedback.

This was a really early version that we wanted to get out as fast as we could.

I agree with the inline formatting shortcuts. It helps even in markdown view (just like we have in Github right here).

We will look into the other things you have listed and keep posting updates as and when we make progress.

Thanks again guys 😊

[2020-01-13 19:32] RhettTrickett commented on #42
The visual difference is because the topics are buttons that fire ajax calls to the backend where as the checkboxes use a more traditional form POST to save. May look at aligning the styles at some point but it might be more trouble than it’s worth currently.

[2020-01-17 11:28] RhettTrickett commented on #26
Happy Friday all! @drenther has fixed the gist previews and added basic support for bold and italic shortcuts in markdown mode. The latter currently only works in Chromium browsers for now. More coming soon.

Any suggestions for the shortcut keys we can use for toggling markdown mode? Preferably ones that won't clash with other browser shortcuts etc.

cc @Minenash @anson-vandoren

[2020-01-17 20:25] Minenash commented on #26
Okay, so I just went through all the keyboard shortcuts of Chrome and Firefox to see which ones are used.

Here's the findings for Ctrl + ***something*** layer:
* No conflicts: `~`, `\`, `;`, `'`, `.`, `/`, and `Insert`
* Conflicts, but are probably okay to override:
  * `u`:
    * Chrome (Win/Linux): Display non-editable HTML source code for the current page
    * Firefox:  Page Source
    * Why

[2020-01-23 10:16] RhettTrickett commented on #36
This should be fixed now.

[2020-01-23 10:16] #36 closed, assigned to drenther

[2020-01-23 10:32] RhettTrickett commented on #26
Thanks for these Minenash, after discussing internally we've gone with `Ctrl + e` for now. It doesn't clash with anything and can stand for **editor**. Using `Ctrl + ~` requires an additional keypress on Mac and if you don't use that additional keypress it clashes with the commonly used switch window shortcut which is **CMD + `**.

Ultimately, I think `Ctrl + m` would be the best but we just need

[2020-05-27 11:05] jmiskovic opened #45 "Current tag system is too limiting"
The list of allowed tags leaves a lot to be desired. They cover mostly programming languages, with couple platforms added in randomly. Not everyone interests are covered there. Because of bad tag coverage it feels like some IT topics are not considered welcome on the platform.

Apart from just list of technologies, I would like to see tags for domains. For instance, graphics, audio, security, embe

[2020-05-28 06:08] RhettTrickett commented on #45
Hi @jmiskovic. Yes, fully agree with you. We're actually working on implementing what you've suggested at the moment as part of finishing up a _big_ upgrade to the editor. This should be available in the next few days. I'll update you here when this is available.

In the meantime I'll remove that OOP dupe, thanks for raising that.

[2020-06-27 14:36] clartaq opened #46 "Import fails if file contains code block in a language not recognized by the highlighter"
**Describe the bug**
If you attempt to drag a Markdown file that contains a fenced code block written in a language not recognized by the highlighter, the import fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag a Markdown containing a block of code written in Clojure/ClojureScript/EDN to the editor demo page.'
4. The import will fail.

**Expected behavior**
I expected the import t

[2020-06-27 14:42] clartaq opened #47 "Import Front Matter in Additional Markup Languages"
**Describe the bug**
When a Markdown file has front matter in a language other than YAML, it fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag a Markdown file containing front matter in TOML onto the editor.
4. Import fails

**Expected behavior**
Accept and parse the front matter and proceed with import.

**Desktop (please complete the following information):**
 - Browser - Safari,

[2020-06-27 14:50] clartaq opened #48 "Accept Additional Fields in Imported Front Matter"
The import function should be able to accept additional fields in any front matter. For example, many of the fields created when exporting to JSON would be good candidates -- "updated", "tags", "published" and so on.

Make import and export a little more "symmetric".

[2020-06-27 15:10] clartaq opened #49 "Use a Consistent Format for Timestamps"
**Describe the bug**
It is unclear what formats timestamps could/should have.

**To Reproduce**
For example, the very nice blog post [here](https://able.bio/rhett/improving-our-data-portability-and-markdown-editor--e8b996bc#markdown) shows one format in the section on "Webhook"s and a different format in the section on "Download your data". And I can't find a mention of the front matter format acc

[2020-06-28 06:59] RhettTrickett commented on #45
Hi @jmiskovic - we've now released our updated editor which allows you to create tags. Feel free to create the tags you like and we'll moderate them as necessary.

You can read more details about the release here: https://able.bio/rhett/improving-our-data-portability-and-markdown-editor--e8b996bc

[2020-06-28 06:59] #45 closed, assigned to nobody

[2020-06-28 07:01] RhettTrickett commented on #46
Thanks for reporting @clartaq - we are aware of this. @drenther is working on a fix.

[2020-06-28 07:06] RhettTrickett commented on #48
Hi @clartaq - we do plan to support additional fields like the ones you've mentioned when bulk importing markdown files. Will update here once this is available.

[2020-06-28 07:07] RhettTrickett commented on #49
Good point  @clartaq - we will improve this.

[2020-06-28 07:08] RhettTrickett commented on #13
This is now available in the editor.

[2020-06-28 07:08] #13 closed, assigned to drenther

[2020-07-05 17:15] RhettTrickett commented on #46
Hi @clartaq - this has now been fixed.

[2020-07-05 17:15] #46 closed, assigned to drenther

[2020-07-05 17:17] RhettTrickett commented on #47
Hi @clartaq - @drenther has now added support for parsing TOML and JSON. These fields need to be fenced within in --- or +++

[2020-07-05 17:17] #47 closed, assigned to drenther

[2020-07-05 17:20] RhettTrickett commented on #15
Closing this ticket for now as this will be incorporated with the user profile revamp project coming up.

[2020-07-05 17:20] #15 closed, assigned to RhettTrickett

[2020-07-05 17:21] #23 closed, assigned to RhettTrickett

[2020-07-05 17:22] #26 closed, assigned to drenther

[2020-07-05 17:31] RhettTrickett commented on #31
Closing this for now. Showing upvote counts is being considered as part of a karma/reputation feature but we haven't got something we're happy with yet. When we do it will be added to the Follower and Post views counts in your summary card on the left of your newsfeed.

[2020-07-05 17:31] #31 closed, assigned to RhettTrickett

[2020-07-10 20:16] kerrishotts opened #50 "Copy/Paste of Images from Clipboard in Safari doesn't consistently work"
**Describe the bug**
In my last post I was using the screen capture tool in macOS and only capturing a portion of my screen to the clipboard, and then was pasting it into my post. This worked the first time, but the second time it would keep insert the first thing I pasted, regardless of what I had just copied.

This was in Safari, on macOS Catalina 10.15.5.

**To Reproduce**
Steps to reproduce th

[2020-07-11 18:38] kerrishotts opened #51 "Adding new tags clears existing tags"
**Describe the bug**
When I add a new tag, the existing tags in the list are cleared

**To Reproduce**
Steps to reproduce the behavior:
1. Write a post (or edit one)
2. Enable tags
3. Add an existing tag like "JavaScript"
4. Add a NEW tag

The tag list only includes the NEW tag.

**Expected behavior**
Both existing and new tag should be in the tag list.

**Desktop (please complete the following in

[2020-07-12 08:10] drenther commented on #51
Thanks for the detailed report. Will look into it.

[2020-07-12 08:13] drenther commented on #50
Thanks for reporting this. Will look into this. And update the thread as we go.

[2020-08-04 17:44] drenther commented on #50
Hey, apologies for a bit of delayed update! I was able to reproduce it with the base screenshot app in macOS but was not able to reproduce with third party screenshot tools like lightshot. Maybe it's something to do with how the clipboard gets updated with the built-in screenshot app. I checked what we get in the files in JS and it seems like it's getting passed the old image. Making it difficult

[2020-08-11 13:39] RhettTrickett commented on #51
This should be fixed now.

[2020-08-11 13:39] #51 closed, assigned to nobody

[2020-08-30 15:23] patrickcording opened #52 "Copy/pasting rendered LaTeX doesn't work"
LaTeX is missing when copy/pasting text that contains LaTeX in the editor.

[2020-08-31 04:18] drenther commented on #52
Thanks for reporting this. I will have a look and update the thread accordingly.

[2021-02-28 06:28] Minenash opened #53 "Dates are yearless"
**Describe the bug**
Dates on the main page don't include the year for posts that are over a year old.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the main page -> popular
2. See that the dates don't have a year, despite being 2½ years old

[2021-03-01 04:52] drenther commented on #53
hey thanks @Minenash - you're right! Good catch.

@RhettTrickett Can you take a look?

[2021-03-01 07:29] RhettTrickett commented on #53
Thanks @Minenash - this has been fixed. You should now see the year for articles that were not published in the current year.

[2021-03-03 08:52] haixuanTao opened #54 "Popular section of home page reference 2018 articles"
**Describe the bug**
Having recently joined, I don't know how much the main page article changes but if it is the max of the views I'm scared the content will not change regularly.

**Expected behavior**
I would have expected something like Reddit where as time goes the front pages get refreshed with the latest article given a mathematical formula.

[2021-03-11 21:37] Minenash commented on #53
The same problem also exists on profile pages

[2021-03-13 07:36] drenther commented on #53
Noted. Thanks @Minenash we will push a fix soon

[2021-03-13 21:20] RhettTrickett commented on #54
Hey Haixuan, sorry just seen this.

Yes, this view was added just quickly alongside 'Latest' and simply sorts by views, which is typically driven by search traffic.

Will need to introduce an exponential decay algorithm for this view at some point.

Will update here once it's done.

[2021-03-13 21:24] RhettTrickett commented on #53
Have fixed profile pages now.

[2021-03-13 21:24] #53 closed, assigned to nobody

[2021-08-19 09:56] haixuanTao opened #55 "able bio is unreachable"
**Describe the bug**
Able.bio seems to have an 'SSL handshake fail'
![Screenshot_20210819-115548_Firefox](https://user-images.githubusercontent.com/22787340/130048861-24d31423-e15b-47e4-bd4a-8863d29b33e8.jpg)

[2022-07-04 23:24] sudoaza opened #56 "Duplicated posts"
**Describe the bug**
When I go to create a post, when I save, each time creates a new post.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create a new post
2. Click on Markdown Mode
3. Click on the side bar and enable subtitle, series, topics (I suspect it's the series the issue but not sure)
4. Save it
5. Modify and save again
6. Try to leave the page, it should warn you about leavi

[2022-07-06 08:26] drenther commented on #56
Thanks for reporting. We will look into it. @RhettTrickett FYI

[2022-07-06 08:30] RhettTrickett commented on #56
Yes, sorry. Am aware and working on this.

[2022-07-06 09:23] RhettTrickett commented on #56
Took a second look and think I found the problem. Should be fixed now.

[2022-09-25 18:12] sudoaza commented on #56
Confirm, I created a new one and didn't happen.

[2022-09-25 18:12] #56 closed, assigned to RhettTrickett